# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
pids
*.pid
*.seed
*.pid.lock

# macOS
.DS_Store

# Environment files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Android / iOS native
/android
/ios

# Debug
*.orig.*

# IDE
.vscode/
.idea/

.xlsx